@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  src:url("Merriweather-Regular.ttf");
}

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  src:url("Merriweather-Bold.ttf");
}

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: lighter;
  src:url("Merriweather-Light.ttf");
}

@font-face {
  font-family: Cascadia Code;
  font-style: normal;
  font-weight: normal;
  src:url("CascadiaCode.ttf");
}

@font-face {
  font-family: Cascadia Code;
  font-style: normal;
  font-weight: bold;
  src:url("CascadiaCode.ttf");
}

@font-face {
  font-family: Cascadia Code;
  font-style: normal;
  font-weight: lighter;
  src:url("CascadiaCode.ttf");
}

body {
  margin: 1%;
  text-align: justify;
  font-size: small;
  font-family: Merriweather;
  line-height: 1.75;
}
code { font-family: monospace; }
h1 { text-align: left; color: #333; }
h2 { text-align: left; color: #555; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1, h2, h3, h4, h5, h6 {
  font-family: Cascadia Code;
}

ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
